In [3]:
import geopandas as gpd
import pandas as pd
import os
from pyogrio.errors import DataSourceError

polygon_data = []
for root, dirs, files in os.walk("California_spread_2012_2021"):
    for file in files:
        if file.endswith(".shp"):
            path = os.path.join(root, file)
            try:
                gdf = gpd.read_file(path)
                fire_name = file.split('_')[1]
                if fire_name[0].isdigit():
                    fire_name += " BUTTE LIGHTNING COMPLEX"
                gdf["FIRE_NAME"] = fire_name
                if gdf.geom_type.iloc[0] in ['Polygon', 'MultiPolygon']:
                    polygon_data.append(gdf)
            except (DataSourceError, OSError) as e:
                print(f"Skipping {file} due to error: {e}")
all_polygons = pd.concat(polygon_data, ignore_index=True)

Skipping 2018_DONNELL_daily.shp due to error: Unable to open California_spread_2012_2021/2018_DONNELL_daily.shx or California_spread_2012_2021/2018_DONNELL_daily.SHX. Set SHAPE_RESTORE_SHX config option to YES to restore or create it.

In [4]:
all_polygons

,DOY,YYYYMMDD,YEAR,geometry,FIRE_NAME
0,194.429167,2012/07/12,2012.0,"POLYGON ((-281464.336 313901.232, -281074.358 ...",FLAT
1,195.412500,2012/07/13,2012.0,"POLYGON ((-281863.736 314087.809, -281775.435 ...",FLAT
2,196.400000,2012/07/14,2012.0,"POLYGON ((-281863.736 314087.809, -281775.435 ...",FLAT
3,197.458333,2012/07/15,2012.0,"POLYGON ((-281863.736 314087.809, -281775.435 ...",FLAT
4,198.445833,2012/07/16,2012.0,"POLYGON ((-281863.736 314087.809, -281775.435 ...",FLAT
...,...,...,...,...,...
5843,233.366667,2017/08/21,2017.0,"POLYGON ((151858.082 -194367.345, 151930.248 -...",INDIAN
5844,301.433333,2020/10/27,2020.0,"POLYGON ((-43140.77 109645.363, -42563.604 109...",POINT
5845,302.420833,2020/10/28,2020.0,"POLYGON ((-43140.77 109645.363, -42594.098 110...",POINT
5846,221.383333,2013/08/09,2013.0,"POLYGON ((219442.362 -405575.085, 219835.763 -...",SHARP
5847,222.437500,2013/08/10,2013.0,"POLYGON ((219442.362 -405575.085, 219835.763 -...",SHARP

In [5]:
all_polygons['FIRE_NAME'].value_counts()

FIRE_NAME
RED SALMON COMPLEX    97
BLUEJAY               86
CASCADE               84
DIXIE                 84
LIONS                 80
                      ..
DOBBYN 1-57            2
ANGORA                 2
GEORGES                2
HAYNES                 2
SHARP                  2
Name: count, Length: 421, dtype: int64

In [6]:
all_polygons.to_csv('all_polygons.csv', index=False)